@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.button-overrides((
    filled-container-shape: '6px',
    outlined-container-shape: '6px'
  ));
  @include mat.badge-overrides((
    background-color: blue
  ));
}

// Load Material baseline styles (required!) 
@include mat.core(); 
// Load the Azure Blue prebuilt theme 
@import '@angular/material/prebuilt-themes/azure-blue.css';